html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 0;
}

main, aside {
  vertical-align: top;
  display: inline-block;
  height: 100vh;
}

main {
  width: calc(100vw - 241px);
  background: #f1f2f4;
}

nav {
  background: #e3e6e8;
  height: 4.4rem;
  overflow: hidden;
  border-right: 1px solid #dde0e3;
  text-align: left;
}

nav .signout-btn {
  float: right;
}

nav span {
  position: relative;
  color: #8f99a3;
  display: inline-block;
  padding: 1.5rem;
  height: 4.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  font-size: 0.8rem;
}

nav span.request-tab {
  padding-right: 3rem;
}

nav span .notification {
  position: absolute;
  right: 1.2rem;
  top: 1.4rem;
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav span::before {
  content: "";
  position: absolute;
  right: 1.5rem;
  left: 1.5rem;
  height: 0.3rem;
  bottom: -0.3rem;
  border-radius: 0.3rem 0.3rem 0 0;
  background: #649e18;
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav span:hover, nav span.selected {
  background: rgba(100, 158, 24, 0.1);
  color: #649e18;
}

nav span:hover::before, nav span.selected::before {
  bottom: 0;
}

nav span:hover .notification, nav span.selected .notification {
  background: #649e18;
}

.notification {
  display: inline-block;
  background: rgba(100, 158, 24, 0.5);
  color: white;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 0.9rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-section {
  width: 100%;
  height: calc(100% - 4.4rem);
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}

.main-section:not(.loading).empty::after {
  content: "No Content Found";
  color: #bbb;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: center;
}

.main-section::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 128px;
  height: 128px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: url(/img/loading.svg);
  background-size: cover;
  pointer-events: none;
}

.main-section.loading::before {
  opacity: 1;
}

.main-section > * {
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 1;
}

.main-section.loading > * {
  opacity: 0;
  pointer-events: none;
}

h1, h2, h3, h4 {
  text-align: center;
  font-weight: normal;
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  color: #666;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

aside {
  width: 240px;
  background: #f9fafa;
  overflow: hidden;
  border-right: 1px solid #dde0e3;
}

aside .logo {
  background: url(/img/logo.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  width: 100%;
  height: 4.4rem;
  vertical-align: top;
  border-bottom: 1px solid #dde0e3;
}

aside .user-container {
  padding: 2rem 0;
  overflow-y: auto;
  overflow-x: hidden;
}

aside .user-container > div {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 1.2rem 1.5rem;
  font-size: 1.0rem;
  color: #929497;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  font-size: 1rem;
}

aside .user-container > div::before {
  content: "";
  position: absolute;
  right: -0.3rem;
  width: 0.3rem;
  height: 1.6rem;
  top: 0.9rem;
  border-radius: 0.3rem 0 0  0.3rem;
  background: #649e18;
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
}

aside .user-container > div:hover, aside .user-container > div.selected {
  color: #649e18;
  background: rgba(100, 158, 24, 0.1);
}

aside .user-container > div:hover::before, aside .user-container > div.selected::before {
  right: 0;
}

.badge {
  display: block;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.8rem;
  background: #333;
  color: white;
  padding: 0.5rem;
  border-radius: 100px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gallery b, .gallery i {
  display: block;
}

.gallery > div {
  position: relative;
  padding-bottom: 100%;
  background-color: #f9fafa;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.gallery > div > div {
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
}

.gallery > div > div > span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
}

.gallery > div > div > span button {
  display: block;
  font-size: 0.7rem;
  padding: 0.5rem;
  margin: 0.8rem 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  white-space: nowrap;
}

.gallery > div:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.gallery > div:hover > div {
  top: 0;
}

@media screen and (max-width: 1500px) {
  .gallery {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .gallery {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  .gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

table {
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

table td {
  font-size: 1rem;
}

table thead th:first-child {
  width: 6rem;
}

table tbody td:first-child {
  width: 6rem;
  height: 6rem;
  border-radius: 8px;
  background: red;
  display: inline-block;
}

button {
  border: none;
  background: #649e18;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 8px rgba(100, 158, 24, 0.3);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 8px rgba(100, 158, 24, 0.3);
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  text-shadow: 0 1px 1px #568815;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 32px rgba(100, 158, 24, 0.8);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 32px rgba(100, 158, 24, 0.8);
  background: #568815;
}

.credentials {
  position: fixed;
  background: #f1f2f4;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
}

.credentials.hide {
  pointer-events: none;
  opacity: 0;
}

.credentials h1 {
  border: none;
  text-align: left;
}

.credentials h1 > span {
  letter-spacing: 0.5;
  color: #333;
  font-weight: bold;
  letter-spacing: -3px;
}

.credentials h1 > span > span {
  color: #649e18;
}

.credentials .side {
  display: inline-block;
  background: url(/img/5.jpg);
  background-position: center;
  background-size: cover;
  width: 40vw;
  height: 100vh;
  vertical-align: top;
  opacity: 0.8;
}

.credentials .main {
  position: relative;
  display: inline-block;
  width: 60vw;
  height: 100vh;
  vertical-align: top;
}

.credentials .credentials-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20rem;
  max-width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.8s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.8s all cubic-bezier(0.25, 0.8, 0.25, 1);
}

.credentials .credentials-container:first-child.hide {
  top: -50%;
}

.credentials .credentials-container:nth-child(2).hide {
  top: 150%;
}

.credentials .tagline {
  color: #999;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.credentials .tagline span {
  cursor: pointer;
  color: #649e18;
  font-weight: bold;
}

.credentials .tagline span:hover {
  color: #568815;
}

/* ========= Controls ========= */
.input-group {
  position: relative;
}

.input-group input {
  background: none;
  width: 100%;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem;
  padding-top: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 2px solid #dde0e3;
  margin: 0.2rem 0;
  font-size: 1rem;
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
}

.input-group input::-webkit-input-placeholder {
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
  /* Firefox */
}

.input-group input:-ms-input-placeholder {
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
  /* Firefox */
}

.input-group input::-ms-input-placeholder {
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
  /* Firefox */
}

.input-group input::placeholder {
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
  /* Firefox */
}

.input-group input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
}

.input-group input::-ms-input-placeholder {
  /* Microsoft Edge */
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.input-group input:focus {
  border-color: #649e18;
}

.input-group input:focus::-webkit-input-placeholder {
  opacity: 0.3;
  /* Firefox */
}

.input-group input:focus:-ms-input-placeholder {
  opacity: 0.3;
  /* Firefox */
}

.input-group input:focus::-ms-input-placeholder {
  opacity: 0.3;
  /* Firefox */
}

.input-group input:focus::placeholder {
  opacity: 0.3;
  /* Firefox */
}

.input-group input:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 0.3;
}

.input-group input:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: 0.3;
}

.input-group input + label {
  position: absolute;
  left: 0.5rem;
  top: 1.5rem;
  font-size: 1rem;
  opacity: 0.8;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  pointer-events: none;
  color: rgba(0, 0, 0, 0.5);
}

.input-group input:not(:placeholder-shown) + label, .input-group input:focus + label {
  -webkit-transform: translate(0, -1.1rem) scale(0.8);
          transform: translate(0, -1.1rem) scale(0.8);
}

.input-group input:focus + label {
  color: #649e18;
}

.password input {
  padding-right: 3rem;
}

.password .eye {
  opacity: 0.6;
  width: 2rem;
  height: 2rem;
  background-image: url(/img/icons/eye-off.svg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
}

.password .eye.hide {
  background-image: url(/img/icons/eye.svg);
}

.password .eye:hover {
  opacity: 0.8;
}

fieldset {
  padding: 0;
  border: 0;
}

button, input[type=submit] {
  background: #649e18;
  /* fallback for old browsers */
  -webkit-transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: 0.4s all cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 4px;
  border: 0;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 0.7rem;
  border-bottom: 3px solid #568815;
}

button:not(:disabled):hover, input[type=submit]:not(:disabled):hover {
  background: #568815;
  border-bottom-color: #487211;
  color: #ccc;
}

button:disabled, input[type=submit]:disabled {
  cursor: default;
  border-bottom-color: #999;
  background: #aaa;
  color: #ddd;
}

@media screen and (max-width: 700px) {
  .credentials .side {
    width: 0;
  }
  .credentials .main {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */